.a_propos {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  h2,
  h4 {
    color: $secondary-color;
  }
  h2 {
    margin-top: 0;
  }
  .conceptrice {
    display: flex;
    align-items: center;
    @media screen and (max-width: 420px) {
      flex-direction: column;
    }
  }
  .detailConceptrice {
    margin: 0 15px;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
  }
  .marine {
    @media screen and (max-width: 420px) {
      order: 1;
    }
  }

  .marineTexte {
    @media screen and (max-width: 420px) {
      order: 2;
    }
  }

  .cercle {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  a {
    color: $clic-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
