.accueil-container {
  h2 {
    text-align: center;
  }

  #photo-accueil {
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
