@use 'variables' as *;

.chat-container {
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 25px;

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 30px 15px 25px 15px;
  }
  & > div {
    max-height: 100%;
    box-shadow: $shadow-low;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .infos-interlocuteur {
    align-items: center;
    background-color: $neutral-color2;
    margin-bottom: 15px;
    padding: 15px;
    // flex-grow: 1;
    height: auto;
    .img-interlocuteur {
      width: 35px;
      height: 35px;
      border-radius: 100px;
      background-size: cover;
      background-position: center;
      margin-right: 15px;
    }
  }
  .msgs-chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .receiver-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
    .infos-msg-text {
      min-width: 40%;
    }
    .msg-date-chat {
      padding: 5px 0 15px 0;
      color: $neutral-color;
      font-size: 12px;
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .sender-user {
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .infos-msg-text {
      min-width: 40%;
      max-width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .msg-date-chat {
        padding: 5px 0 15px 0;
        color: $neutral-color;
        font-size: 12px;
      }
    }
  }

  .msg-text-chat {
    width: 80%;
    box-shadow: $shadow-low;
    padding: 15px;
  }
  .chat-send {
    padding: 15px 15px 15px 15px;
    background-color: $neutral-color2;
    .btn-send-chat {
      background-color: $primary-color;
      padding: 7px 20px;
      border-radius: 20px;
      box-shadow: $shadow-low;
      input {
        border: none;
        flex-grow: 1;
        &:focus {
          outline: none;
        }
      }
      button {
        border: none;
        padding: 0;
        background-color: transparent;
        color: $clic-color;
        font-size: 20px;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .no-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    p {
      text-align: center;
    }
    .picture-user-chat {
      height: 150px;
      width: 150px;
      background-position: center;
      background-size: cover;
      border-radius: 300px;
    }
  }
}
.mg-auto {
  margin: auto;
}
.bold {
  font-weight: 700;
}
