@use 'variables' as *;
.container-connexion {
  margin: auto;
  margin-top: -60px;
  padding: 0 15px;
  display: flex;
  @media screen and (max-width: 1035px) {
    margin-top: -110px;
  }
  @media screen and (max-width: 600px) {
    margin-top: -60px;
    width: 100%;
  }
  label {
    display: flex;
    width: 30%;
    padding: 7px 0;
  }
  input {
    width: 70%;
    border: none;
    box-shadow: $shadow-low;
    padding: 7px 7px;
    margin-bottom: 15px;
    &:focus {
      outline: none;
    }
  }
  form {
    > div {
      display: flex;
      @media screen and (max-width: 850px) {
        flex-direction: column;
        label,
        input {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
    button {
      padding: 7px 15px;
      border-radius: 20px;
      background-color: $clic-color;
      color: $primary-color;
      font-family: $main-font;
      border: none;
      font-size: $content-size;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .btns-connexion {
      flex-direction: row;
      padding-top: 15px;
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
      .effacer-connexion {
        background-color: transparent;
        color: $clic-color;
        font-size: 16px;
      }
    }
  }
  .picture-connexion {
    background-image: url("../image/carrot.jpg");
    background-position: center;
    background-size: cover;
    &.connexion-page {
      background-image: url("../image/framboise.jpg");
      background-position: bottom;
      min-height: 400px;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .content-connexion {
    padding-left: 15px;
    h3 {
      margin-bottom: 0;
      margin-top: 5px;
    }
    a {
      text-decoration: none;
      color: $clic-color;
    }
    @media screen and (max-width: 850px) {
      label {
        display: none;
      }
      input {
        margin: 7px 0;
      }
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      padding-left: 0;
    }
  }
  .ipt-checkbox {
    display: flex;
    @media screen and (max-width: 850px) {
      flex-direction: row;
      padding-top: 7px;
      input {
        width: auto;
      }
    }
    input[type="checkbox"] {
      position: relative;
      padding: 5px;
      margin-right: 10px;
      width: auto;
      margin-bottom: 0;
      margin-top: 9px;
      cursor: pointer;
    }
    input[type="checkbox"] {
      &:not(:checked):after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        height: 120%;
        width: 120%;
        background-color: white;
        border: 1px solid $clic-color;
        border-radius: 2px;
      }
      &:checked:after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        height: 120%;
        width: 120%;
        background-color: $clic-color;
        border: 1px solid $clic-color;
        border-radius: 2px;
      }
    }
    label {
      display: inline;
      flex-grow: 1;
    }
  }
  .nom-connexion,
  .motdepasse-connexion {
    display: flex;
    flex-direction: column;
    input {
      width: 100%;
      @media screen and (max-width: 850px) {
        margin: 0;
        margin-bottom: 15px;
      }
    }
    label {
      width: 100%;
      @media screen and (max-width: 850px) {
        display: block;
        margin-top: 0;
      }
    }
  }
  .fin-connexion {
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      span {
        text-align: center;
      }
      a {
        text-align: center;
      }
    }
  }
}
.mdp-oubli {
  color: $clic-color;
  cursor: pointer;
  font-size: 15px;
}
.form-mdp-oubli,
.form-mdp-oubli-reinitialisation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  background-color: $primary-color;
  padding: 30px;
  flex-direction: column;
  z-index: 10002;
  width: 50%;
  &.d-flex {
    display: flex;
  }
  h3 {
    margin-top: 0;
  }
  label {
    margin-top: 15px;
  }
  input {
    margin-top: 15px;
    box-shadow: $shadow-low;
    padding: 5px;
    border: none;
    &:active {
      outline: none;
    }
  }
  button {
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    display: inline-flex;
    background-color: $clic-color;
    color: $primary-color;
    margin-top: 15px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .logo-container {
    position: absolute;
    top: 15px;
    right: 15px;
    a {
      display: flex;
      align-items: flex-start;
    }
  }
}
.container-oubli {
  height: 100%;
  width: 100%;
  background-color: $neutral-color;
}
