@use 'variables' as *;
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");

.contact-container {
  margin: auto;
  margin-top: -60px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    input,
    textarea {
      border: none;
      box-shadow: $shadow-low;
      padding: 7px 15px;
      &:focus {
        outline: none;
      }
    }
    label {
      padding: 7px 0px;
    }
    button {
      display: inline-flex;
      padding: 7px 15px;
      border-radius: 20px;
      border: none;
      background-color: $clic-color;
      color: $primary-color;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  h3 {
    margin-top: 0;
  }
  .form-contact {
    padding-left: 15px;
    @media screen and (max-width: 850px) {
      width: 60%;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      padding-left: 0;
    }
    span {
      padding: 7px 0;
    }
  }
  .image-deco-contact {
    background-image: url(../image/plantation.jpg);
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 850px) {
      width: 40%;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
.temoignages-container {
  text-align: center;
  font-size: $content-size;
  margin: auto;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    width: 100%;
  }
  h2 {
    color: $secondary-color;
    font-size: 20px;
  }
  p {
    position: relative;
    font-size: 18px;
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: column;
    span {
      display: flex;
      justify-content: flex-end;
      font-style: italic;
      padding-right: 15%;
      margin-top: 10px;
      color: $neutral-color;
    }
    &::before {
      content: '"';
      height: 100%;
      font-family: "Catamaran", sans-serif;
      font-size: 70px;
      color: $clic-color;
      position: absolute;
      top: -75px;
      left: 10px;
      transform: rotate(180deg);
      transform-origin: center center;
      z-index: -1;
      display: flex;
      align-items: flex-end;
      opacity: 0.8;
    }
    &::after {
      content: '"';
      height: 100%;
      font-family: "Catamaran", sans-serif;
      font-size: 70px;
      color: $clic-color;
      position: absolute;
      bottom: -45px;
      right: 15px;
      z-index: -1;
      display: flex;
      align-items: flex-end;
      opacity: 0.8;
    }
  }
}
.plr-15 {
  padding: 0 15px;
}
