@use 'variables' as *;
.forum-container,
.voir-plus-forum-container {
  margin: auto;
  padding: 0 20px;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 0 15px;
  }
}
.forum-container {
  .retour-forum {
    display: none;
  }
}
.retour-forum {
  color: $clic-color;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  width: 150px;
  font-weight: 700;
  i {
    padding-top: 2px;
    font-size: 12px;
    margin-right: 15px;
    transition: all 0.3s;
  }
  &:hover {
    i {
      margin-right: 5px;
    }
  }
}

p {
  font-size: $content-size;
}
.bloc-info-forum {
  &:first-child {
    padding-right: 15px;
  }
  &:last-child {
    padding-left: 15px;
  }
  @media screen and (max-width: 720px) {
    width: 100%;
    &:first-child {
      padding-right: 0px;
    }
    &:last-child {
      padding-left: 0px;
    }
  }
}
.new-forum-container {
  justify-content: space-between;
  padding-bottom: 15px;
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
  .new-forum {
    background-color: $clic-color;
    color: $primary-color;
    font-size: $content-size;
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 720px) {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }
  .search-bar-forum {
    flex-grow: 1;
    box-shadow: $shadow-low;
    border-radius: 20px;
    padding: 7px 15px;
    background-color: $primary-color;
    width: 100%;
    align-items: center;
    @media screen and (max-width: 720px) {
      width: 100%;
      margin-right: 0;
      order: 1;
    }
    input {
      flex-grow: 1;
      border: none;
      padding: 2px;
      &:focus {
        outline: none;
      }
    }
    i {
      padding-top: 1px;
      transform: scaleX(-1);
      color: $clic-color;
    }
  }
  .form-new-forum {
    flex-direction: column;
    display: none;
    font-size: $content-size;
    box-shadow: $shadow-low;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    margin-top: 15px;
    h3 {
      margin-top: 0;
    }
    .close-form-forum {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
    input,
    textarea {
      padding: 10px;
      margin: 10px 0;
      border: none;
      box-shadow: $shadow-low;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 7px 15px;
      border-radius: 20px;
      border: none;
      margin-top: 15px;
      background-color: $clic-color;
      color: $primary-color;
      font-family: $main-font;
      font-size: $content-size;
      box-shadow: $shadow-low;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.one-forum-view {
  box-shadow: $shadow-low;
  padding: 15px;
  margin-bottom: 15px;
  h2 {
    margin-top: 0;
  }
  form {
    justify-content: flex-end;
    .voir-forum {
      padding: 0;
      margin: 7px 15px;
      border-radius: 20px;
      border: none;
      background-color: transparent;
      color: $clic-color;
      font-family: $main-font;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 0.5px;
        top: 20px;
        left: 0;
        width: 0%;
        background-color: $clic-color;
        transition: all 0.3s;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.date {
  margin-top: 0;
  font-size: 14px;
  color: $neutral-color;
}
.quest-name,
.resp-name {
  margin: 5px 0;
  color: $third-color;
}
.one-forum {
  margin-top: 15px;
  h2 {
    margin-top: 0;
  }
  .voir-plus-response {
    box-shadow: $shadow-low;
    padding: 15px;
    padding-bottom: 0;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .voir-plus-quest {
    box-shadow: $shadow-low;
    padding: 15px;
    padding-bottom: 0;
    margin-right: 50px;
    margin-bottom: 15px;
  }
}
.btn-send {
  margin: 15px 0;
  padding: 7px 20px;
  border-radius: 20px;
  box-shadow: $shadow-low;
  input {
    border: none;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
  }
  button {
    border: none;
    padding: 0;
    background-color: transparent;
    color: $clic-color;
    font-size: 20px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
.forum-user-pp {
  height: 50px;
  min-width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  margin-right: 15px;
}
.forum-tag {
  padding: 6px 15px 7px 15px;
  color: $clic-color;
  background-color: $neutral-color2;
  border-radius: 20px;
  margin: 0 5px;
  display: inline-flex;
  margin-bottom: 15px;
  cursor: pointer;
  form {
    input {
      border: none;
      color: $clic-color;
      background-color: transparent;
      font-family: $main-font;
      font-size: $content-size;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
  &:first-child {
    margin-left: 0;
  }
}
