//couleurs
$primary-color:white;
$secondary-color:#6E9611;
$third-color:#23512a;
$clic-color:#ff8617;
$color-time:#dc0411;
$color-flower:#611760;
$color-seed:#34348B;
$color-ground:#780000;
$color-plant:#fcd12d;


//police
$main-font:'Louis George Cafe\'';


//font-size
$h1-size:32px;
$h3-size:24px;
$content-size:17px;

// box-shadow
$shadow-low : 0px 2px 5px rgba(110, 110, 110,0.2);
$shadow-up : 5px 5px 5px 10px rgba(110, 110, 110,0.2)


