/* Error: expected "{".
 *     ,
 * 286 | >>>>>>> ab5ac0f85bd20358fb30047e2f9300b885b56d5b
 *     |                                                 ^
 *     '
 *   public\css\_pagedons.scss 286:49  @import
 *   public\css\style.scss 5:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 286 \2502  >>>>>>> ab5ac0f85bd20358fb30047e2f9300b885b56d5b\d\a     \2502                                                  ^\a     \2575 \a   public\\css\\_pagedons.scss 286:49  @import\a   public\\css\\style.scss 5:9         root stylesheet';
}
