.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

button {
  padding: 7px 15px;
  border: none;
  border-radius: 15px;
  display: block;
}
button a {
  color: white;
  text-decoration-line: none;
  font-size: 130%;
  font-family: "Louis George Cafe'";
}

.centrePageDons .btnDons {
  background-color: #ff8617;
  margin: auto;
}
.centrePageDons .espace {
  padding: 0px 30px;
  margin-top: 20px;
}
.centrePageDons .row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.centrePageDons .select {
  color: #6e9611;
  display: inline;
}
.centrePageDons .fa-chevron-down {
  color: #ff8617;
}
.centrePageDons .options {
  color: #6e9611;
  position: absolute;
  right: 15px;
  background-color: white;
  padding: 10px 0px;
  border: 1px solid #6e9611;
  text-align: center;
  width: 100px;
  display: none;
}
.centrePageDons .options a {
  color: #6e9611;
  text-decoration: none;
  display: block;
}
.centrePageDons .options a:first-of-type {
  background-color: #ff8617;
  color: white;
}
.centrePageDons .options a:hover {
  background-color: #ff8617;
  color: white;
}
.centrePageDons .annonceDons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.centrePageDons .box {
  box-shadow: 0px 2px 5px rgba(110, 110, 110, 0.2);
  width: 46%;
  margin: 1%;
  padding: 15px;
  display: flex;
  height: auto;
}
.centrePageDons .box .imageDon {
  display: block;
  background-color: blue;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center center;
}
.centrePageDons .box .dons {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.centrePageDons .box .dons .pomme {
  height: 30px;
}
.centrePageDons .box .dons h3 {
  color: #6e9611;
  margin: 0px;
}
.centrePageDons .box .dons .fa-heart {
  color: #6e9611;
  font-size: 20px;
}
.centrePageDons .box .dons .seed {
  background-color: #34348b;
}
.centrePageDons .box .dons .flower {
  background-color: #611760;
}
.centrePageDons .box .dons .time {
  background-color: #dc0411;
}
.centrePageDons .box .dons .ground {
  background-color: #780000;
}
.centrePageDons .box .dons .plant {
  background-color: #fcd12d;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  margin: 0;
  font-family: "Louis George Cafe'";
}

header {
  height: auto;
  box-shadow: 0px 2px 5px rgba(110, 110, 110, 0.2);
}
header .subheader {
  background-color: #6e9611;
  padding: 15px 0;
}
header .subheader .subheader-container {
  margin: auto;
  justify-content: space-between;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  header .subheader .subheader-container {
    width: 100%;
    padding: 0 15px;
  }
}
header .subheader .subheader-container a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
header .subheader .subheader-container a:hover {
  color: #23512a;
}
header .subheader .subheader-container a .sign-out-icon {
  display: none;
  font-size: 20px;
}
@media screen and (max-width: 420px) {
  header .subheader .subheader-container a .sign-out-icon {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  header .subheader .subheader-container a .btn-deconnexion {
    display: none;
  }
}
header .subheader .subheader-container .search-bar {
  box-shadow: 0px 2px 5px rgba(110, 110, 110, 0.2);
  border-radius: 20px;
  padding: 5px 15px;
  background-color: white;
  width: 250px;
}
@media screen and (max-width: 420px) {
  header .subheader .subheader-container .search-bar {
    width: 200px;
  }
}
header .subheader .subheader-container .search-bar input {
  border: none;
}
header .subheader .subheader-container .search-bar input:focus {
  outline: none;
}
header .subheader .subheader-container .search-bar i {
  padding-top: 1px;
  transform: scaleX(-1);
  color: #ff8617;
}
header .header-container {
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .header-container .menu-burger {
  display: none;
  font-size: 24px;
}
@media screen and (max-width: 1035px) {
  header .header-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  header .header-container {
    width: 100%;
    padding: 15px 15px;
    flex-direction: row;
  }
  header .header-container .nav-connected {
    display: none;
  }
  header .header-container .menu-burger {
    display: block;
  }
}
header .header-container .nav-connected {
  flex-grow: 1;
}
header .header-container .nav-connected .nav-pages {
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
header .header-container .nav-connected .nav-pages li:not(:last-child) {
  padding: 7px 15px;
}
header .header-container .nav-connected .nav-pages li:not(:last-child) a {
  position: relative;
  color: #ff8617;
  display: block;
}
header .header-container .nav-connected .nav-pages li:not(:last-child) a::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ff8617;
  transition: all 0.3s;
}
header .header-container .nav-connected .nav-pages li:not(:last-child):hover a::before {
  width: 100%;
}
header .header-container .nav-connected .nav-pages li.btn-moncompte a {
  color: white;
  box-shadow: 0px 2px 5px rgba(110, 110, 110, 0.2);
  border-radius: 20px;
  position: relative;
  padding: 7px 15px 8px 15px;
  display: block;
  color: #ff8617;
  overflow: hidden;
}
header .header-container .nav-connected .nav-pages li.btn-moncompte a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #ff8617;
  transition: all 0.3s;
  z-index: -1;
}
header .header-container .nav-connected .nav-pages li.btn-moncompte a:hover {
  color: white;
  z-index: 2;
}
header .header-container .nav-connected .nav-pages li.btn-moncompte a:hover::before {
  width: 100%;
}
@media screen and (max-width: 1035px) {
  header .header-container .nav-connected .nav-pages li {
    margin-top: 15px;
  }
  header .header-container .nav-connected .nav-pages li:not(:last-child) {
    padding: 7px 10px;
    padding-bottom: 8px;
  }
}
header .header-container .nav-connected .nav-pages li a {
  font-size: 18px;
  text-decoration: none;
  color: #ff8617;
}
header .header-container .jolly-name {
  align-items: center;
  flex-grow: 1;
}
header .header-container .jolly-name-connexion {
  flex-grow: 0;
  justify-content: space-between;
}
header .header-container .jolly-name-connexion .search-compte {
  justify-content: flex-end;
  flex-wrap: wrap;
}
header .header-container .jolly-name-connexion .search-compte > a {
  margin: 0 15px;
}
header .header-container .jolly-name-connexion .search-compte > a:last-child {
  margin-right: 0;
}
header .header-container .jolly-name-connexion h1 {
  margin-left: 30px;
  flex-grow: 0;
}
header .header-container .logo-container a {
  align-items: center;
}
header .header-container .logo-container a img {
  height: 55px;
}
header .header-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  color: #23512a;
}
@media screen and (max-width: 600px) {
  header .header-container h1 {
    margin-left: 15px;
    justify-content: left;
    font-size: 28px;
  }
}
header .header-container .header-se-connecter {
  border: none;
}
header .header-container .header-se-connecter:focus {
  outline: none;
}
header .header-container .header-se-connecter a {
  background-color: #ff8617;
  padding: 7px 15px;
  text-decoration: none;
  color: white;
  font-family: "Louis George Cafe'";
  display: block;
}
header .header-container .header-se-connecter a .sign-in-icon {
  font-size: 20px;
  display: none;
}
@media screen and (max-width: 420px) {
  header .header-container .header-se-connecter a .sign-in-icon {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  header .header-container .header-se-connecter a .btn-connexion {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  header .header-container .header-se-connecter a {
    background-color: transparent;
    color: #ff8617;
  }
}
header .header-container .header-se-connecter-inscription .inscription {
  background-color: transparent;
  color: #ff8617;
}
@media screen and (max-width: 600px) {
  header .header-container .header-se-connecter-inscription {
    display: none;
  }
}

main {
  height: 200px;
}

footer {
  box-shadow: 5px 5px 5px 10px rgba(110, 110, 110, 0.2);
  padding-bottom: 5px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  background-color: #6e9611;
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    background-color: transparent;
  }
}
footer .footer-container {
  margin: auto;
}
@media screen and (max-width: 600px) {
  footer .footer-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  footer .link-footer {
    flex-direction: column;
  }
}
footer .link-footer .line {
  display: none;
}
@media screen and (max-width: 600px) {
  footer .link-footer .line {
    background-color: white;
    height: 1px;
    display: block;
  }
}
footer a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 0;
  text-align: center;
}
@media screen and (max-width: 600px) {
  footer a {
    flex-direction: column;
    text-transform: uppercase;
    background-color: #6e9611;
  }
}
footer a:hover {
  color: #23512a;
}
@media screen and (max-width: 600px) {
  footer a:hover {
    color: white;
    background-color: #23512a;
  }
}
footer .social {
  background-color: #6e9611;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social a {
  font-size: 25px;
  margin: 0 15px;
}
footer .social a:hover {
  background-color: #6e9611;
  color: #23512a;
}
footer p {
  background-color: #6e9611;
  color: white;
  font-size: 10px;
  margin: 0;
  padding: 5px 0 10px 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
