/* Error: Undefined variable.
 *    ,
 * 66 |         box-shadow:$shadow;
 *    |                    ^^^^^^^
 *    '
 *   public\css\_pagedons.scss 66:20  @import
 *   public\css\style.scss 5:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 66 \2502          box-shadow:$shadow;\d\a    \2502                     ^^^^^^^\a    \2575 \a   public\\css\\_pagedons.scss 66:20  @import\a   public\\css\\style.scss 5:9        root stylesheet";
}
