// @import "node_modules/bootstrap/scss/bootstrap";
@use 'variables' as *;
// @import "@fortawesome/fontawesome-free/css/all.css";
@import "framework";
@import "pageDons";
* {
  box-sizing: border-box;
  transition: all 0.3s;
}
body {
  margin: 0;
  font-family: $main-font;
}
header {
  height: auto;
  box-shadow: $shadow-low;
  .subheader {
    background-color: $secondary-color;
    padding: 15px 0;
    .subheader-container {
      margin: auto;
      justify-content: space-between;
      padding: 0 20px;
      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0 15px;
      }
      a {
        text-decoration: none;
        color: $primary-color;
        display: flex;
        align-items: center;
        &:hover {
          color: $third-color;
        }
        .sign-out-icon {
          display: none;
          font-size: 20px;
          @media screen and (max-width: 420px) {
            display: block;
          }
        }
        .btn-deconnexion {
          @media screen and (max-width: 420px) {
            display: none;
          }
        }
      }
      .search-bar {
        box-shadow: $shadow-low;
        border-radius: 20px;
        padding: 5px 15px;
        background-color: $primary-color;
        width: 250px;
        @media screen and (max-width: 420px) {
          width: 200px;
        }
        input {
          border: none;
          &:focus {
            outline: none;
          }
        }
        i {
          padding-top: 1px;
          transform: scaleX(-1);
          color: $clic-color;
        }
      }
    }
  }
  .header-container {
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    .menu-burger {
      display: none;
      font-size: $h3-size;
    }
    @media screen and (max-width: 1035px) {
      flex-direction: column;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 15px 15px;
      flex-direction: row;
      .nav-connected {
        display: none;
      }
      .menu-burger {
        display: block;
      }
    }
    .nav-connected {
      flex-grow: 1;
      .nav-pages {
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        li {
          &:not(:last-child) {
            padding: 7px 15px;
            a {
              position: relative;
              color: $clic-color;
              display: block;
              &::before {
                content: "";
                width: 0%;
                height: 1px;
                position: absolute;
                top: 30px;
                left: 0;
                background-color: $clic-color;
                transition: all 0.3s;
              }
            }
            &:hover {
              a {
                &::before {
                  width: 100%;
                }
              }
            }
          }
          &.btn-moncompte {
            a {
              color: $primary-color;
              box-shadow: $shadow-low;
              border-radius: 20px;
              position: relative;
              padding: 7px 15px 8px 15px;
              display: block;
              color: $clic-color;
              overflow: hidden;
              &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                top: 0;
                left: 0;
                border-radius: 20px;
                background-color: $clic-color;
                transition: all 0.3s;
                z-index: -1;
              }
              &:hover {
                color: $primary-color;
                z-index: 2;
                &::before {
                  width: 100%;
                }
              }
            }
          }
          @media screen and (max-width: 1035px) {
            margin-top: 15px;
            &:not(:last-child) {
              padding: 7px 10px;
              padding-bottom: 8px;
            }
          }
          a {
            font-size: $menu-size;
            text-decoration: none;
            color: $clic-color;
          }
        }
      }
    }
    .jolly-name {
      align-items: center;
      flex-grow: 1;
      &-connexion {
        flex-grow: 0;
        justify-content: space-between;
        .search-compte {
          justify-content: flex-end;
          flex-wrap: wrap;
          > a {
            margin: 0 15px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        h1 {
          margin-left: 30px;
          flex-grow: 0;
        }
      }
    }
    .logo-container {
      a {
        align-items: center;
        img {
          height: 55px;
        }
      }
    }
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin: 0;
      color: $third-color;
      @media screen and (max-width: 600px) {
        margin-left: 15px;
        justify-content: left;
        font-size: 28px;
      }
    }
    .header-se-connecter {
      border: none;
      &:focus {
        outline: none;
      }
      a {
        background-color: $clic-color;
        padding: 7px 15px;
        text-decoration: none;
        color: $primary-color;
        font-family: $main-font;
        display: block;
        .sign-in-icon {
          font-size: 20px;
          display: none;
          @media screen and (max-width: 420px) {
            display: block;
          }
        }
        .btn-connexion {
          @media screen and (max-width: 420px) {
            display: none;
          }
        }
        @media screen and (max-width: 600px) {
          background-color: transparent;
          color: $clic-color;
        }
      }
      &-inscription {
        .inscription {
          background-color: transparent;
          color: $clic-color;
        }
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}
main {
  height: 200px;
}
footer {
  box-shadow: $shadow-up;
  padding-bottom: 5px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    background-color: transparent;
  }
  .footer-container {
    margin: auto;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .link-footer {
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .line {
      display: none;
      @media screen and (max-width: 600px) {
        background-color: $primary-color;
        height: 1px;
        display: block;
      }
    }
  }
  a {
    @media screen and (max-width: 600px) {
      flex-direction: column;
      text-transform: uppercase;
      background-color: $secondary-color;
    }
    display: block;
    color: $primary-color;
    text-decoration: none;
    font-size: $content-size;
    padding: 15px 0;
    text-align: center;
    &:hover {
      color: $third-color;
      @media screen and (max-width: 600px) {
        color: $primary-color;
        background-color: $third-color;
      }
    }
  }
  .social {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 25px;
      margin: 0 15px;
      &:hover {
        background-color: $secondary-color;
        color: $third-color;
      }
    }
  }
  p {
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 10px;
    margin: 0;
    padding: 5px 0 10px 0;
    text-align: center;
  }
}
