// @import "node_modules/bootstrap/scss/bootstrap";
@use 'variables' as *;
// @import "@fortawesome/fontawesome-free/css/all.css";
@import "framework";
@import "pageDons";
@import "forum";
@import "moncompte";
@import "chat";
@import "menuMoncompte";
@import "accueil";
@import "contact";
@import "connexion";
@import "mesannonces";
@import "search";
@import "a_propos";

h3 {
  color: $secondary-color;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: $main-font;
  overflow-x: hidden;
}
header {
  transition: all 0.3s;
  height: auto;
  box-shadow: $shadow-low;
  position: fixed;
  background-color: $primary-color;
  z-index: 10000;
  .subheader {
    background-color: $secondary-color;
    padding: 15px 0;
    .subheader-container {
      margin: auto;
      justify-content: space-between;
      padding: 0 15px;
      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0 15px;
      }
      .hello-name {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        padding: 5px;
        border-radius: 20px;
        margin: 0;
        margin-right: 15px;
        strong {
          margin-left: 5px;
        }
        @media screen and (max-width: 860px) {
          display: none;
        }
      }
      a {
        text-decoration: none;
        color: $primary-color;
        display: flex;
        align-items: center;
        transition: all 0.3s;
        &.active {
          .btn-moncompte {
            background-color: $third-color;
          }
          .mon-compte-icon {
            color: $third-color;
          }
        }
        .btn-moncompte {
          padding: 4px 15px 5px 15px;
          background-color: $clic-color;
          border-radius: 20px;
          transition: background-color 0.3s;
          &:hover {
            background-color: $third-color;
          }
          @media screen and (max-width: 500px) {
            display: none;
          }
        }
        .mon-compte-icon {
          display: none;
          font-size: 20px;
          &:hover {
            color: $clic-color;
          }
          @media screen and (max-width: 500px) {
            display: block;
          }
          @media screen and (max-width: 400px) {
            display: none;
          }
        }
        .sign-out-icon {
          margin-left: 15px;
          font-size: 20px;
          transition: color 0.3s;
          &:hover {
            color: $third-color;
          }
        }
        // .btn-deconnexion {
        //   @media screen and (max-width: 420px) {
        //     display: none;
        //   }
        // }
      }
      .search-bar {
        box-shadow: $shadow-low;
        border-radius: 20px;
        padding: 5px 15px;
        background-color: $primary-color;
        width: 250px;
        align-items: center;
        @media screen and (max-width: 420px) {
          width: 200px;
        }
        input {
          border: none;
          padding: 2px;
          &:focus {
            outline: none;
          }
        }
        i {
          padding-top: 1px;
          transform: scaleX(-1);
          color: $clic-color;
        }
      }
    }
  }
  .header-container-deconnected {
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    .header-se-connecter {
      border: none;
      &:focus {
        outline: none;
      }
      a {
        background-color: $clic-color;
        padding: 7px 15px;
        border-radius: 20px;
        text-decoration: none;
        color: $primary-color;
        font-family: $main-font;
        display: block;
        .sign-in-icon {
          font-size: 20px;
          display: none;
          @media screen and (max-width: 420px) {
            display: block;
          }
        }
        .btn-connexion {
          @media screen and (max-width: 420px) {
            display: none;
          }
        }
        @media screen and (max-width: 600px) {
          background-color: transparent;
          color: $clic-color;
        }
      }
      &-inscription {
        .inscription {
          background-color: transparent;
          color: $clic-color;
        }
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
  .header-container {
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    #menu-burger {
      display: none;
      font-size: $h3-size;
      color: $clic-color;
    }
    @media screen and (max-width: 1035px) {
      flex-direction: column;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 15px 15px;
      flex-direction: row;
      .nav-connected {
        display: block;
        box-shadow: $shadow-up;
        margin-top: 145px;
        height: auto;
        padding-bottom: 30px;
        margin-left: 600px;
        position: absolute;
        background-color: $primary-color;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        .nav-pages {
          flex-direction: column;
        }
      }
      #menu-burger {
        display: block;
        cursor: pointer;
      }
    }
    .open-menu {
      margin-left: 0px;
    }
    .nav-connected {
      flex-grow: 1;
      transition: all 0.3s;

      .nav-pages {
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 600px) {
          align-items: flex-start;
          background-color: $primary-color;
          justify-content: flex-start;
        }
        li {
          svg {
            height: 21.6px;
            width: auto;
            fill: $clic-color;
            margin-right: 2px;
          }
          .li-icon {
            display: none;
            @media screen and (max-width: 600px) {
              display: flex;
            }
          }
          @media screen and (max-width: 1035px) {
            margin-top: 15px;
          }
          @media screen and (max-width: 600px) {
            width: 100%;
            margin-top: 0;
          }
          &:not(:last-child) {
            padding: 7px 15px;
            @media screen and (max-width: 1035px) {
              padding-bottom: 8px;
            }
            @media screen and (max-width: 600px) {
              margin-top: 0;
              padding: 0;
              a {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $secondary-color;
                &:hover {
                  svg {
                    fill: $primary-color;
                  }
                  background-color: $clic-color;
                  color: $primary-color;
                }
              }
            }
            a {
              position: relative;
              color: $clic-color;
              display: flex;
              &::before {
                content: "";
                width: 0%;
                height: 1px;
                position: absolute;
                top: 30px;
                left: 0;
                background-color: $clic-color;
                transition: all 0.3s;
              }
              &.active {
                color: $secondary-color;
                &::before {
                  width: 100%;
                  background-color: $secondary-color;
                  @media screen and (max-width: 600px) {
                    display: none;
                  }
                }
              }
              @media screen and (max-width: 600px) {
                &.active {
                  background-color: $secondary-color;
                  color: $primary-color;
                  svg {
                    fill: $primary-color;
                  }
                }
              }
            }
            &:hover {
              a {
                &::before {
                  @media screen and (max-width: 600px) {
                    display: none;
                  }
                  width: 100%;
                }
              }
            }
          }
          &.btn-moncompte {
            display: none;
            padding: 0;
            @media screen and (max-width: 600px) {
              display: block;
            }
            a {
              color: $primary-color;
              box-shadow: $shadow-low;
              border-radius: 20px;
              position: relative;
              padding: 7px 15px 8px 15px;
              display: block;
              color: $clic-color;
              overflow: hidden;
              @media screen and (max-width: 600px) {
                box-shadow: none;
                padding: 15px;
                border-radius: 0;
                display: flex;
                justify-content: space-between;
                &.active {
                  background-color: $secondary-color;
                  color: $primary-color;
                }
              }
              &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                top: 0;
                left: 0;
                border-radius: 20px;
                background-color: $clic-color;
                transition: all 0.3s;
                z-index: -1;
              }
              &:hover {
                color: $primary-color;
                @media screen and (max-width: 600px) {
                  background-color: $clic-color;
                }
                z-index: 2;
                &::before {
                  @media screen and (max-width: 600px) {
                    display: none;
                  }
                  width: 100%;
                }
              }
            }
          }
          a {
            font-size: $menu-size;
            text-decoration: none;
            color: $clic-color;
          }
        }
      }
    }
  }
}

.jolly-name {
  align-items: center;
  flex-grow: 1;
  &-connexion {
    flex-grow: 0;
    justify-content: space-between;
    .search-compte {
      justify-content: flex-end;
      flex-wrap: wrap;
      > a {
        margin: 0 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    h1 {
      margin-left: 30px;
      flex-grow: 0;
    }
  }
}
.logo-container {
  a {
    align-items: center;
    img {
      height: 55px;
    }
  }
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  color: $third-color;
  @media screen and (max-width: 600px) {
    margin-left: 15px;
    justify-content: left;
    font-size: 28px;
  }
}
main {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media screen and (max-width: 1035px) {
    padding-top: 210px;
  }
  @media screen and (max-width: 600px) {
    padding-top: 160px;
  }
}
footer {
  box-shadow: $shadow-up;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    background-color: transparent;
  }
  .footer-container {
    margin: auto;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .link-footer {
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  a {
    @media screen and (max-width: 600px) {
      flex-direction: column;
      text-transform: uppercase;
      background-color: $secondary-color;
      border-bottom: 1px solid $primary-color;
    }
    display: block;
    color: $primary-color;
    text-decoration: none;
    font-size: $content-size;
    padding: 15px 0;
    text-align: center;
    transition: all 0.3s;
    &:hover {
      color: $third-color;
      @media screen and (max-width: 600px) {
        color: $primary-color;
        background-color: $third-color;
      }
    }
  }
  .social {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 25px;
      margin: 0 15px;
      transition: all 0.3s;
      @media screen and (max-width: 600px) {
        border-bottom: none;
      }
      &:hover {
        background-color: $secondary-color;
        color: $third-color;
      }
    }
  }
  p {
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 10px;
    margin: 0;
    padding: 5px 0 10px 0;
    text-align: center;
  }
}
.reduce {
  margin-top: -60px;
}
.reduce-mon-compte {
  margin-top: -75px;
}
button,
input {
  &:focus {
    outline: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $neutral-color2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $neutral-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $neutral-color;
}
input {
  font-family: $main-font;
}
input[type="checkbox"] {
  position: relative;
  padding: 5px;
  margin-right: 10px;
  width: auto;
  margin-bottom: 0;
  margin-top: 9px;
  cursor: pointer;
}
input[type="checkbox"] {
  &:not(:checked):after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    height: 120%;
    width: 120%;
    background-color: white;
    border: 1px solid $clic-color;
    border-radius: 2px;
  }
  &:checked:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    height: 120%;
    width: 120%;
    background-color: $clic-color;
    border: 1px solid $clic-color;
    border-radius: 2px;
  }
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 16px;
  height: 13px;
  width: 13px;
  display: inline-block;
  &:hover {
    &::before {
      border-color: $clic-color;
    }
  }
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border: 1px solid $neutral-color2;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: $clic-color;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
